<a href="https://colab.research.google.com/github/Nayana22552255/Resume/blob/main/nayanak.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df=pd.read_csv('/content/fraudTest.csv')
df

/tmp/ipython-input-3232206825.py:2: DtypeWarning: Columns (2,5,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('/content/fraudTest.csv')

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1.371817e+09,33.986391,-81.200714,0.0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.436,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1.371817e+09,39.450498,-109.960431,0.0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1.371817e+09,40.495810,-74.196111,0.0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1.371817e+09,28.812398,-80.883061,0.0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.017,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1.371817e+09,44.959148,-85.884734,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166937,163056,2020-08-17 13:45:57,4607072969078276,"fraud_Gottlieb, Considine and Schultz",shopping_net,523.32,Brenda,Perez,F,033 Tara Brook Suite 523,...,35.8985,-97.2607,1493,Amenity horticulturist,1985-03-21,c85983d760102420439ee885022f5792,1.376747e+09,36.155597,-96.448620,0.0
166938,163057,2020-08-17 13:45:59,6011252220172077,fraud_Hudson-Grady,shopping_pos,141.76,Melvin,Wright,M,210 Dean Causeway Suite 130,...,42.9782,-96.0173,1700,"Engineer, land",2001-12-19,d20be7257c8d5460ce4e2c88fdcb2600,1.376747e+09,42.831738,-95.171949,0.0
166939,163058,2020-08-17 13:46:06,213125815021702,fraud_Bogisich-Weimann,kids_pets,12.21,Adam,Kirk,M,40847 Stark Junctions,...,42.074,-74.453,397,Psychiatrist,1931-09-12,a6315edc38082657f5000c6432708e67,1.376747e+09,41.857561,-74.919834,0.0
166940,163059,2020-08-17 13:46:20,4922710831011201,"fraud_Ledner, Hartmann and Feest",health_fitness,6.62,Heather,Chase,F,6888 Hicks Stream Suite 954,...,40.3359,-79.6607,1472,Public affairs consultant,1941-03-07,34701b657a480517197e9799d9bf5aa1,1.376747e+09,40.067800,-79.025413,0.0
166941,163060,2020-08-17 13:47:02,6011999606625827,"fraud_Pouros, Walker and Spencer",kids_pets,25.0,Ronald,Carson,M,870 Rocha Drive,...,40.9918,-73.98,4664,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.isnull()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166937,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
166938,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
166939,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
166940,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
166941,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,True,True,True,True,True

In [6]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
166937    False
166938    False
166939    False
166940    False
166941    False
Length: 166942, dtype: bool

In [8]:
df.dtypes

Unnamed: 0                 int64
trans_date_trans_time     object
cc_num                    object
merchant                  object
category                  object
amt                       object
first                     object
last                      object
gender                    object
street                    object
city                      object
state                     object
zip                       object
lat                       object
long                      object
city_pop                   int64
job                       object
dob                       object
trans_num                 object
unix_time                float64
merch_lat                float64
merch_long               float64
is_fraud                 float64
dtype: object

In [9]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['gender']=le.fit_transform(df['gender'])
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,2,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1.371817e+09,33.986391,-81.200714,0.0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,1,3638 Marsh Union,...,40.3207,-110.436,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1.371817e+09,39.450498,-109.960431,0.0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,1,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1.371817e+09,40.495810,-74.196111,0.0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,2,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1.371817e+09,28.812398,-80.883061,0.0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,2,5783 Evan Roads Apt. 465,...,44.2529,-85.017,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1.371817e+09,44.959148,-85.884734,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166937,163056,2020-08-17 13:45:57,4607072969078276,"fraud_Gottlieb, Considine and Schultz",shopping_net,523.32,Brenda,Perez,1,033 Tara Brook Suite 523,...,35.8985,-97.2607,1493,Amenity horticulturist,1985-03-21,c85983d760102420439ee885022f5792,1.376747e+09,36.155597,-96.448620,0.0
166938,163057,2020-08-17 13:45:59,6011252220172077,fraud_Hudson-Grady,shopping_pos,141.76,Melvin,Wright,2,210 Dean Causeway Suite 130,...,42.9782,-96.0173,1700,"Engineer, land",2001-12-19,d20be7257c8d5460ce4e2c88fdcb2600,1.376747e+09,42.831738,-95.171949,0.0
166939,163058,2020-08-17 13:46:06,213125815021702,fraud_Bogisich-Weimann,kids_pets,12.21,Adam,Kirk,2,40847 Stark Junctions,...,42.074,-74.453,397,Psychiatrist,1931-09-12,a6315edc38082657f5000c6432708e67,1.376747e+09,41.857561,-74.919834,0.0
166940,163059,2020-08-17 13:46:20,4922710831011201,"fraud_Ledner, Hartmann and Feest",health_fitness,6.62,Heather,Chase,1,6888 Hicks Stream Suite 954,...,40.3359,-79.6607,1472,Public affairs consultant,1941-03-07,34701b657a480517197e9799d9bf5aa1,1.376747e+09,40.067800,-79.025413,0.0
166941,163060,2020-08-17 13:47:02,6011999606625827,"fraud_Pouros, Walker and Spencer",kids_pets,25.0,Ronald,Carson,2,870 Rocha Drive,...,40.9918,-73.98,4664,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
x=df['trans_date_trans_time']
y=df['cc_num']

NameError: name 'x_train' is not defined

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [14]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)

ValueError: could not convert string to float: '2020-07-14 19:47:59'